@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all .5s;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;
	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
	background:#fff;
	overflow-x: hidden;
}
label{
	font-weight: bold;
}




/* SIDEBAR */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;;
	height:100%;
	background:linear-gradient(rgba(0,0,0,0.8),#103b26),url(/images/F.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	z-index: 2000;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
	box-shadow: 15px 15px 15px rgba(0 0 0 .6);
	 
}
#sidebar::--webkit-scrollbar {
	display: none;
}
#sidebar .brand {
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	height: 56px;
	display: flex;
	align-items: center;
	text-align: center;
	color:#fff;
	position: sticky;
	background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,.4)),url(/images/F.jpg);
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
}
#sidebar .brand img{
	cursor: pointer;
	width:30px;
	display:none;
	background:#fff;
	position: relative;
}
#sidebar ul li{
	padding:.6rem;
	border:1px solid #fff;
	border-style:groove;
	width:80%;
	border-radius:8px;
	margin:1.5rem;
}
#sidebar ul li a{
	color:#fff;
	font-family: sans-serif;
	margin:1rem;
	text-align:start;
	line-height: normal;
}
.active{
	background-color:goldenrod;
}
.active:hover{
	background-color:rgba(41, 156, 50, 0.904);
	transition: all .5s;
	padding:1rem;
}
 
/* SIDEBAR */





/* CONTENT */
 
#content {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}
#content nav img{
	cursor: pointer;
	display:none;
}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}
table {
    width: 100%;
    border-collapse: collapse;
	background: #fff;
	border-radius:12px;
}

  tr td{
	border-radius:12px;
    position: relative;
  }
  table th,
  table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }

  table th {
    background-color: #f5f5f5;
    text-align: center;
  }
  .textarea textarea{
	border:1px solid #342E37;
	border-radius:10px;
	height:150px;
	 
  }




/* NAVBAR */
#content nav {
	 
	height: 56px;
	background:var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
#content nav::before {
	content: '';
	color: #3C91E6;
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
	color: var(--dark);
}
#content nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}
#content nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}
#content nav .nav-link:hover {
	color: var(--blue);
}
#content nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}
.in{
	display:none;
}
#content nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--blue);
	color: var(--light);
	position: relative;
}
#content nav .switch-mode::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--blue);
	border-radius: 50%;
	transition: all .3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}
.accordion-content tr th{
	background: #09375f;
	color:#fff;
}
 

/* NAVBAR */

/*cards*/
.carts{
	width:100%;
	height:auto;
	padding:1rem;
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	align-items:center;
}
.furn{
	width:100%;
	height:auto;
	padding:1rem;
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	align-items:center;
	background:#fff;
	box-shadow: 6px 6px 6px #ddd;
}
.carts .card{
	padding:.5rem;
	width:250px;
	box-shadow: 6px 6px 6px #ddd;
	margin:.5rem;
	border-radius:10px;
	height:auto;
	border: 1px solid black;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.img img{
	width: 230px;
	height: 200px;

}
.hor{
	margin:10px;
}
.furn .card{
	padding:.5rem;
	border-radius:10px;
	width:250px;
	box-shadow: 10px 10px 10px #ddd;
	margin:.5rem;
	height:auto;
	border: 1px solid black;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.card .btn{
	padding:10px;
	border-radius:15px;
	border:none;
	font-weight: bold;
	color:#fff;
	background:#FD7238;
}

/* MAIN */
/*slider*/
#slider{
	width:100%;
	border-radius:16px;
	border:2px solid #ddd;
	margin-top:1rem;
	height:300px;
	position: relative;
	overflow: hidden;
}
.slide{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	display:none;

} .openMenu{
	display:none;
}
.slide h1{
	font-size:5rem;
	margin-top:5rem;
	font-weight: bolder;
	color:#fff;
}
.slide:nth-child(1){
	background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(/images/b.jpg);
	background-position:center;
	transition: all .6s;
	display: flex;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
}
.slide:nth-child(2){
	background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(/images/c.jpg);
	background-position:center;
	transition: all .6s;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;

}
.slide:nth-child(3){
	background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(/images/e.jpg);
	background-position:center;
	transition: all .6s;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	
}
.slide:nth-child(4){
	background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(/images/d.jpg);
	transition: all .6s;
	background-position:center;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	
}
.slide:nth-child(5){
	background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(/images/a.jpg);
	transition: all .6s;
	background-position:center;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.slide:nth-child(6){
	background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(/images/h.jpg);
	transition: all .6s;
	background-position:center;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
}
 
textarea{
    width: 100%;
    height: 100px;
}
input[type = radio]{
    margin: 6px;
    font-size: 8px;
    font-weight: bold;
}
input[type = number]{
    padding: 15px 15px 15px;
}
input[type = text]{
	padding:8px 8px 8px;
	border: 1px solid grey;
}
.date{
    margin-top: 10px;
    float: right;
}
.vehicleNo{
    margin-top: 10px;
}
.content h2{
    margin-top: 1rem;
    text-align: center;
    color:var(--dark);
    font-family:serif;
    font-size: 30px;
}
.txt{
    height: 250px;
	border-radius:10px;
	border:none;
	outline:none;
}
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}
#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}

#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color:dodgerblue;
}
#content main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li {
	color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
	color: var(--dark-grey);
	pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
	color: var(--blue);
	pointer-events: unset;
}
#content main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
 
}
 
 .box-info li:hover{
	box-shadow: none;
	transition:.3s;
}
#content main .box-info li {
	box-shadow: 6px 6px 6px #ddd;
	padding: 24px;
	background:#fff;
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}
#content main .box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content main .box-info li:nth-child(1) .bx {
	background:url(/images/1.jpg);
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--blue);
}
#content main .box-info li:nth-child(2) .bx {
	background:url(/images/2.jpg);
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--yellow);
}
#content main .box-info li:nth-child(3) .bx {
	background:url(/images/3.jpg);
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--orange);
}
#content main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}
#content main .box-info li .text p {
	color: var(--dark);	
}




#content main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}
#content main .table-data .box-info li:nth-child(1) .bx{
	background:url(/images/4.jpg);
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--orange);
}
#content main .table-data .box-info li:nth-child(2) .bx{
	background:url(/images/5.jpg);
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--orange);
}
#content main .table-data .box-info li:nth-child(3) .bx{
	background:url(/images/F.jpg);
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--orange);
}
#content main .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}
#content main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
#content main .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}
#content main .table-data .head .bx {
	cursor: pointer;
}

#content main .table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
}
#content main .table-data .order table {
	width: 100%;
	border-collapse: collapse;
}
#content main .table-data .order table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}
#content main .table-data .order table td {
	padding: 16px 0;
}
#content main .table-data .order table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}
#content main .table-data .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
#content main .table-data .order table tbody tr:hover {
	background: var(--grey);
}
#content main .table-data .order table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}
#content main .table-data .order table tr td .status.completed {
	background: var(--blue);
}
#content main .table-data .order table tr td .status.process {
	background: var(--yellow);
}
#content main .table-data .order table tr td .status.pending {
	background: var(--orange);
}


#content main .table-data .todo {
	flex-grow: 1;
	flex-basis: 300px;
}
#content main .table-data .todo .todo-list {
	width: 100%;
}
#content main .table-data .todo .todo-list li {
	width: 100%;
	margin-bottom: 16px;
	background: var(--grey);
	border-radius: 10px;
	padding: 14px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#content main .table-data .todo .todo-list li .bx {
	cursor: pointer;
}
#content main .table-data .todo .todo-list li.completed {
	border-left: 10px solid var(--blue);
}
#content main .table-data .todo .todo-list li.not-completed {
	border-left: 10px solid var(--orange);
}
#content main .table-data .todo .todo-list li:last-child {
	margin-bottom: 0;
}
/* MAIN */
/* CONTENT */









@media screen and (max-width: 768px) {
	#sidebar {
		width: 180px;
		transition:.5s all ease-in;
		display:none;
	}
	#content{
		margin-left:-10rem;
	}
	#sidebar .side-menu li {
		margin-left:-2rem;
	}
	#sidebar .brand img{
		display: block;
		width:1.6rem;
		height:1.6rem;
		gap: 1rem;
		background: #CFE8FF;
	}
	#content nav img{
		display: block;
		width:25px;
		height:25px;
	}
	#sidebar .brand span{
		color:white;
	}
	#main .box-info li{
		background:#fff;
	}
	li>ul{
		margin-left:1rem;
		z-index:4;
	}
	li > ul li a{
		width:25px;
		height:25px;
		display: block;
		color:#fff;
		padding:5px;
		z-index:4;
		position:relative;
		background: #060714;
	}

	#content {
		width: calc(100% - 60px);
		left: 200px;
	}

	.content h2{
		font-size:18px;
		color: #09375f;
	}
	.date{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.form-input{
		display:none;
	}
	form{
		display: flex;
		color:var(--dark);
		flex-direction: column-reverse;
		background:#fff;
		overflow-x: hidden;
	}
	 form input{
		border-radius:6px;
		text-align: center;
		border:1px solid #342E37;
		outline: none;
	}
	form input[type = date]{
		margin-left:-2rem;
	}
	.date input{
		 width:250px;
		 padding:8px;
	}
	 .vehicleNo{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 2.7rem;
	 }
.vehicleNo input{
	width:250px;
	padding:8px;
}
.content input [type = date]{
	padding:8px;
}
.initials{
	flex-direction: column-reverse;
	display: flex;
}
.content textarea{
	box-sizing:border-box;
	border:1px solid #09375f;
}
.journeyhead{
	flex-direction: column-reverse;
	display: flex;
}
.driver-schedule input{
	display: flex;
	flex-direction: column-reverse;
}
.driver-schedule input[type = time]{
	padding:9px;
}
}







@media screen and (max-width: 576px) {
	#content nav form .form-input input {
		display: none;
	}
	.initials .date input[type =date]{
		width:200px;
		border:none;
	}
	#content nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

	#content nav form.show .form-input input {
		display: block;
		width: 100%;
	}
	#content nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}
	#content main .box-info {
		grid-template-columns: 1fr;
	}
	.in{
		display:block;
		text-align: center;
		width:100%;
		background:var(--grey);
	}

	#content main .table-data .head {
		min-width: 420px;
	}
	#content main .table-data .order table {
		min-width: 420px;
	}
	#content main .table-data .todo .todo-list {
		min-width: 420px;
	}
  .accordion-content {
		display: flex;
		margin-right: -1rem;
	}
	 
	.accordion-content table  tr th:nth-child(3){
		display: none;
	}
	.accordion-content table  tr td:nth-child(3){
		display: none;
	}
	.accordion-content table tr td:nth-child(2){
		width:100px;
	}
	 .accordion-content table tr td:nth-child(1){
		width:25px;
	 }
	 .todo-list form input[type=text]{
	width:200px;
	 }
	 
	 #operation input[type=date]{
		width:200px;
		margin-left:2rem;
	 }
	 .driver-schedule input{
		display: flex;
		flex-direction: column-reverse;
		margin:1rem;
		width:200px;
	}
	.table-data .box-info{
		overflow: hidden;
		align-items: center;
		display: flex;
	}
}